<div>
    <span>
        <h2>Edudat</h2>
    </span>
    <span>
        <p>We get our data from</p>
        <ul>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
        </ul>
    </span>
</div>