<div>
    <span>
        <h2>Search results</h2>
    </span>
    <div class="result-table">
        <table>
            <thead>
                <tr>
                    <th>School Name</th>
                </tr>
            </thead>
            <tr>
                <td>Gainesville High School</td>
            </tr>
        </table>
    </div>
</div>